h1.flashy {
  color: red;
  font-style: italic;

}

.best {
  color: blue;
}

.flashy {
  color: red;
  font-style: italic;

}

.important {
  font-size: 250%;
}

.unimportant {
  width: 25%;
}

.highlight {
  color: #FF9900;
}
